<svg
    width="16"
    height="16"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
>
    <title>Chart.js</title>
    <path
        fill="currentColor"
        d="M12 0C5.375 0 0 5.375 0 12s5.375 12 12 12 12-5.375 12-12S18.625 0 12 0zm0 22.875C6.037 22.875 1.125 17.963 1.125 12 1.125 6.037 6.037 1.125 12 1.125c5.962 0 10.875 4.912 10.875 10.875 0 5.962-4.913 10.875-10.875 10.875zM10.5 6v9l5.5-5.5z"
    ></path>
</svg>
