<svg
    width="16"
    height="16"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
>
    <title>Pandas</title>
    <path
        fill="currentColor"
        d="M6.5 0C5.67 0 5 .67 5 1.5v21c0 .83.67 1.5 1.5 1.5S8 23.33 8 22.5v-21C8 .67 7.33 0 6.5 0zM11.5 2C10.67 2 10 2.67 10 3.5v17c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5v-17c0-.83-.67-1.5-1.5-1.5zM16.5 0C15.67 0 15 .67 15 1.5v21c0 .83.67 1.5 1.5 1.5S18 23.33 18 22.5v-21C18 .67 17.33 0 16.5 0z"
    ></path>
</svg>
